<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidoos.guitorio.blood4life">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginAndRegister.Login" />
        <activity android:name=".LoginAndRegister.Registration" />
        <activity android:name=".LoginAndRegister.RegisterAdmin" />
        <activity android:name=".LoginAndRegister.RegisterGeneralPeople" />
        <activity android:name=".LoginAndRegister.RegisterMember" />
        <activity android:name=".AddDonors.AddDonor" />
        <activity android:name=".AreaAdmin.AreaAdmin" />
        <activity android:name=".AreaGeneralPeople.AreaGeneralPeople" />
        <activity android:name=".AreaMember.AreaMember" />
        <activity android:name=".AreaAdmin.AdmReqDetail" />
        <activity android:name=".AreaGeneralPeople.GenReqDetail" />
        <activity android:name=".AreaMember.MemReqDetail" />
        <activity android:name=".BloodDonorSearch.BloodDonors" />
        <activity android:name=".BloodDonorSearch.BloodDonorSearch" />
        <activity android:name=".BloodDonorSearch.DonorDetail" />
        <activity android:name=".BloodRequest.BloodRequestsCreate" />
        <activity android:name=".TestActivity.TestActivity" />
        <activity android:name=".TestActivity.TestActivity2" />
        <activity android:name=".LoginAndRegister.RegistrationInitial" />
        <activity android:name=".LoginAndRegister.RegisterOrganization" />
        <activity android:name=".LoginAndRegister.RegisterAsMemberOfOrg" />
        <activity android:name=".LoginAndRegister.RegisterOrganisationDetail" />
        <activity android:name=".Profiles.ProfileUsers" />
        <activity android:name=".PopulateSpinner" />
        <activity android:name=".Profiles.EditProfile"></activity>
    </application>

</manifest>